# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

**Цели проекта:**

Разобраться, влияет ли семейное положение, количество детей клиента, его доход и цель кредита на факт погашения кредита в срок.

**Задачи проекта:**
1. Провести предобработку данных
  1. заполнить пропуски, 
  2. обработать значения в столбцах с аномалиями,
  3. удалить строки-дубликаты,
  4. провести категоризацию данных.
2. Ответить на вопросы
  1. Есть ли зависимость между количеством детей и возвратом кредита в срок?
  2. Есть ли зависимость между семейным положением и возвратом кредита в срок?
  3. Есть ли зависимость между уровнем дохода и возвратом кредита в срок?
  4. Как разные цели кредита влияют на его возврат в срок?

**Данные:**

Входные данные от банка — статистика о платёжеспособности клиентов.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [14]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [22]:
# группируем по количеству детей, суммируем по задолженностям
children_debt = data.groupby('children')['debt'].sum()
#print(children_debt)

# считаем, сколько всего человек имеет/не имеет детей
children_count = data.groupby('children')['debt'].count()

# процент, кто имеет 0 детей и не возвращает кредит
children_0 = children_debt[0]/children_count[0]
# процент, кто имеет 1 ребека и не возвращает кредит
children_1 = children_debt[1]/children_count[1]
# процент, кто имеет 2 детей и не возвращает кредит
children_2 = children_debt[2]/children_count[2]
# процент, кто имеет 3 детей и не возвращает кредит
children_3 = children_debt[3]/children_count[3]
# процент, кто имеет 4 детей и не возвращает кредит
children_4 = children_debt[4]/children_count[4]
# процент, кто имеет 5 детей и не возвращает кредит
children_5 = children_debt[5]/children_count[5]

print ('{:.0%} клиентов, не имеющих детей, не возвращают кредит'.format(children_0))
print ('{:.0%} клиентов, имеющих 1 ребенка, не возвращают кредит'.format(children_1))
print ('{:.0%} клиентов, имеющих 2 детей, не возвращают кредит'.format(children_2))
print ('{:.0%} клиентов, имеющих 3 детей, не возвращают кредит'.format(children_3))
print ('{:.0%} клиентов, имеющих 4 детей, не возвращают кредит'.format(children_4))
print ('{:.0%} клиентов, имеющих 5 детей, не возвращают кредит'.format(children_5))

pd.pivot_table(data, index=['children'], values='debt', aggfunc=['count', 'mean'])

8% клиентов, не имеющих детей, не возвращают кредит
9% клиентов, имеющих 1 ребенка, не возвращают кредит
9% клиентов, имеющих 2 детей, не возвращают кредит
8% клиентов, имеющих 3 детей, не возвращают кредит
10% клиентов, имеющих 4 детей, не возвращают кредит
0% клиентов, имеющих 5 детей, не возвращают кредит

          count      mean
           debt      debt
children
0         14091  0.075438
1          4808  0.092346
2          2052  0.094542
3           330  0.081818
4            41  0.097561
5             9  0.000000

**Вывод:** Если не учитывать малочисленные категории (клиенты, имеющие 3 и больше детей), то можем сделать вывод, что клиентов, у которых нет детей, возвращают кредит в срок немного чаще (только 7,5% не возвращают кредит в срок). Клиенты, имеющие 1 ребёнка или 2 детей, возвращают кредит в срок реже тех, у кого нет детей (9,2% и 9,5% соответственно). 

Можем сделать вывод, что есть зависимость возврата кредита в срок и наличия детей у клиента.

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [23]:
# группируем по семейному положению, суммируем по задолженностям
family_status_debt = data.groupby('family_status')['debt'].sum()
#print(family_status_debt)

# считаем, сколько всего человек имеет/не имеет детей
family_status_count = data.groupby('family_status')['debt'].count()
#print(family_status_count)

# процент, кто не женат / не замужем и не возвращает кредит
family_0 = family_status_debt[0]/family_status_count[0]
# процент, кто в разводе и не возвращает кредит
family_1 = family_status_debt[1]/family_status_count[1]
# процент, кто вдовец / вдова и не возвращает кредит
family_2 = family_status_debt[1]/family_status_count[2]
# процент, кто в гражданском браке и не возвращает кредит
family_3 = family_status_debt[1]/family_status_count[3]
# процент, кто женат / замужем и не возвращает кредит
family_4 = family_status_debt[1]/family_status_count[4]

print ('{:.0%} клиентов, которые не женаты / не замужем, не возвращают кредит'.format(family_0))
print ('{:.0%} клиентов, которые в разводе, не возвращают кредит'.format(family_1))
print ('{:.0%} клиентов, которые вдовцы / вдовы, не возвращают кредит'.format(family_2))
print ('{:.0%} клиентов, которые в гражданском браке, не возвращают кредит'.format(family_3))
print ('{:.0%} клиентов, которые женаты / замужем, не возвращают кредит'.format(family_4))

pd.pivot_table(data, index=['family_status'], values='debt', aggfunc=['count', 'mean'])

10% клиентов, которые не женаты / не замужем, не возвращают кредит
7% клиентов, которые в разводе, не возвращают кредит
9% клиентов, которые вдовцы / вдовы, не возвращают кредит
2% клиентов, которые в гражданском браке, не возвращают кредит
1% клиентов, которые женаты / замужем, не возвращают кредит

                       count      mean
                        debt      debt
family_status
Не женат / не замужем   2796  0.097639
в разводе               1189  0.070648
вдовец / вдова           951  0.066246
гражданский брак        4134  0.093130
женат / замужем        12261  0.075606

**Вывод:** Можем увидеть, что чаще всего не возвращают кредит клиенты, которые не женаты / не замужем, вдовцы / вдовы и те, кто в разводе. Как правило, возвращают кредит те, кто в женат / замужем или в гражданском браке. Следовательно, зависимость между семейным положением и возвратом кредита в срок есть.

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [24]:
total_income_category = ['больше 1 000 000', '200 001 - 1 000 000',
                         '50 001 - 200 000', '30 001 - 50 000', 'до 30 000']

pivot = pd.pivot_table(data, index=['total_income_category'], values=['debt'], aggfunc=['count', 'mean'])

pivot.insert(0, 'доход', total_income_category)
pivot

                                     доход  count      mean
                                             debt      debt
total_income_category
A                         больше 1 000 000     25  0.080000
B                      200 001 - 1 000 000   5014  0.070602
C                         50 001 - 200 000  15921  0.084982
D                          30 001 - 50 000    349  0.060172
E                                до 30 000     22  0.090909

**Вывод:** Если не учитывать малочисленные категории (A, D, E), то можем сделать вывод, что клиенты, у которых доход больше 200 000 рублей, но меньше 1 000 000 рублей возвращают кредит в срок чаще, чем те, у кого доход до 200 000 (7% не возвращают в категории B, 8,5% не возвращают в категории С).

Можем сделать вывод, что есть зависимость между возвратом кредита в срок и уровнем дохода. Чем больше уровень дохода у клиента, тем чаще он возвращает кредит в срок.

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [25]:
# группируем по цели кредита (через категоризацию), суммируем по задолженностям
purpose_debt = data.groupby('purpose_category')['debt'].sum()
#print(purpose_debt)

# считаем, сколько всего человек в каждой категории по цели
purpose_count = data.groupby('purpose_category')['debt'].count()
#print(purpose_count)

# процент, кто берёт кредит на операции с автомобилем и не возвращает кредит
purpose_0 = purpose_debt[0]/purpose_count[0]
# процент, кто берёт кредит на операции с недвижимостью и не возвращает кредит
purpose_1 = purpose_debt[1]/purpose_count[1]
# процент, кто берёт кредит на получение образования и не возвращает кредит
purpose_2 = purpose_debt[2]/purpose_count[2]
# процент, кто берёт кредит на проведение свадьбы и не возвращает кредит
purpose_3 = purpose_debt[3]/purpose_count[3]

print ('{:.0%} клиентов, кто берёт кредит на операции с автомобилем и не возвращает кредит'.format(purpose_0))
print ('{:.0%} клиентов, кто берёт кредит на операции с недвижимостью и не возвращает кредит'.format(purpose_1))
print ('{:.0%} клиентов, кто берёт кредит на получение образования и не возвращает кредит'.format(purpose_2))
print ('{:.0%} клиентов, кто берёт кредит на проведение свадьбы и не возвращает кредит'.format(purpose_3))

pd.pivot_table(data, index=['purpose_category'], values='debt', aggfunc=['count', 'mean'])

9% клиентов, кто берёт кредит на операции с автомобилем и не возвращает кредит
7% клиентов, кто берёт кредит на операции с недвижимостью и не возвращает кредит
9% клиентов, кто берёт кредит на получение образования и не возвращает кредит
8% клиентов, кто берёт кредит на проведение свадьбы и не возвращает кредит

                          count      mean
                           debt      debt
purpose_category
операции с автомобилем     4279  0.093480
операции с недвижимостью  10751  0.072551
получение образования      3988  0.092528
проведение свадьбы         2313  0.079118

**Вывод:** Можем увидеть, что чаще возвращают кредит те, кто берёт кредит на операции с недвижимостью и проведение свадьбы. Кредиты, целью которых являются операции с автомобилем и получение образования, в срок возвращаются реже.

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* причин может огромное количество: может быть некорректная выгрузка данных, некорректное внесение данных, ошибки в программном обеспечении при записи данных, разные форматы данных.

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:*  Среднее значение может некорректно охарактеризовать данные, если некоторые значения сильно выделяются среди большинства. Медианное значение является более устойчивым показателем к выбросам в данных. Заполнение средним используется, когда отсутствует нет экономического смысла пропущенных значений.

### Шаг 4: общий вывод.

Был проведен анализ входных данные от банка — статистики о платёжеспособности клиентов. В данной выгрузке была следующая информация: количество детей в семье, общий трудовой стаж в днях, возраст клиента в годах, уровень образования клиента, идентификатор уровня образования, семейное положение, идентификатор семейного положения, пол клиента, тип занятости, имел ли задолженность по возврату кредитов, ежемесячный доход, цель получения кредита.

В процессе работы с данными была проведена предобработка данных: заполнены пропуски, обработаны значения в столбцах с аномалиями, удалены строки-дубликаты, проведена категоризация данных.

Ответим на вопросы, получаем следующие выводы:

1. Есть зависимость между семейным положением и вовзратом кредита в срок. Клиенты, не состоящие в браке (любом), не возвращают кредит чаще тех, кто женат/замужем или состоит в гражданском браке. 
2. Есть зависимость между наличием детей и возвратом кредита в срок. Клиенты, имеющие детей, не возвращают кредиты в срок чаще, чем те, у кого детей нет.
3. Есть зависимость между уровнем дохода и возвратом кредита в срок. Клиенты, чей уровень дохода больше 200 000 рублей, но меньше 1 000 000 рублей возвращают кредит в срок чаще, чем те, у кого доход до 200 000 рублей.
4. Чаще возвращают кредит те, кто берёт кредит на операции с недвижимостью и проведение свадьбы.